.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.left-section {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.left-section img {
  margin-top: 10px;
  width: 500px;
  height: 450px;
  display: flex;
}

.description {
  color: rgba(39, 198, 217, 0.90);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.darkblue-text {
  color: #055C9D;
}

.right-section {
  flex: 1;
  background-color: #b6efff;
  padding: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  margin-bottom: 20px;
}

.login-label {
  width: 500px;
  height: 35px;
  color: #000;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  margin-left: 25px;
}

.login-input {
  display: block;
  margin: 10px 0;
  width: 474px;
  height: 53px;
  border-radius: 5px;
  border: 1px solid rgba(39, 198, 217, 0.90);
  background: #F5F5F5;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.login-button {
  width: 474px;
  height: 53px;
  border-radius: 5px;
  border: 1px solid rgba(39, 198, 217, 0.90);
  background: linear-gradient(254deg, #0273FF 40.22%, #00C0FE 76.98%, #00C0FE 88.25%);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 40px;
  transition: background 0.3s;
}

.login-button:hover {
  background: linear-gradient(254deg, #00C0FE 40.22%, #0273FF 76.98%, #0273FF 88.25%);
}