.employee-container {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.employee-header {
    display: flex;
    align-items: center;
}

.employee-header>div {
    margin-right: 10%;
}

.employee-title h2 {
    color: #055C9D;
    font-weight: bold;
    margin-bottom: 5%;
}

.employee-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
}

.sort-buttons,
.search-input,
.view-button {
    display: flex;
    align-items: center;
}


.sort-buttons button {
    margin-right: 15px;
    background-color: #27C6D9;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search-input input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color:  rgba(5, 92, 157, 0.26);
    background-color:  rgba(5, 92, 157, 0.26);
    color: #ffffff;
}

.employee-controls input::placeholder {
    color: #ffffff;
}


.view-button button {
    background-color: #27C6D9;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.employee-department {
    color: #055C9D;
    margin-bottom: 10px;
}

.employee-department h4{
    color: #055C9D;
    margin-bottom: 20px;
}

.employee-details {
    color: black;
}

.employee-details h5 {
    font-weight: bold;
}

.employee-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.employee-info img {
    margin-right: 10px;
}

.employee-info div {
    font-weight: bold;
}
