.leaderboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard-header img {
    width: 100%;
    height: auto;
}

.scrollable-content {
    max-height: 60vh;
    overflow: auto;
    margin-top: 0;
}

.employee-rank-container {
    background-color: #27C6D9;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.employee-rank {
    font-weight: bolder;
    font-size: x-large;
}

.employee-analytics-name {
    font-size: larger;
}

.employee-analytics-points {
    font-weight: bolder;
}

.select-year-button {
    border: 2px solid #27c7d9;
    margin: 10px 5px;
    padding: 5px 10px;
    justify-content: end;
    align-items: flex-end;
    border-radius: 10px;
}

.select-month-option {
    margin: 10px;
    justify-content: end;
    align-items: flex-end;
    display: block;
    border-radius: 10px;
    width: max-content;
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 250px;
    height: 100vh;
}