.success-page {
    background: #b6efff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 700px;
    height: 400px;
    border-radius: 50px;
    background: rgba(39, 198, 217, 0.39);
    margin-top: 100px;
}

.message {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 70px;

    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h2 {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.darkblue-text {
    color: #055C9D;
    font-weight: bold;
}

.copy-container {
    display: flex;
    align-items: center;
    width: 565px;
    height: 73px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
}

.successpage-input {
    width: 315px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;
    border-color: transparent;
    margin: 0;
    margin-left: 20px;
    padding-left: 10px;
}

.successpage-button {
    width: 189px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px solid rgba(39, 198, 217, 0.90);
    margin-top: 0;
    margin-right: 0;
    margin-left: 20px;
    border: 1px solid rgba(39, 198, 217, 0.90);
    background: linear-gradient(254deg, #0273FF 40.22%, #00C0FE 76.98%, #00C0FE 88.25%);
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: background 0.3s;
}

.successpage-button:hover {
    background: linear-gradient(254deg, #00C0FE 40.22%, #0273FF 76.98%, #0273FF 88.25%);
  }